*.DS_Store
Arduino-Code.code-workspace
*.log
libraries/Reeltwo/
.vscode
AmidalaFirmware/
Dome_Plate_Controller - Backup/Dome_Plate_Controller.ino
Dome_Plate_Controller - Backup/dome_plate_controller_test_pin_map.h
